<ion-view title="我的页面">

  <!--头部 开始-->
  <div class="bar bar-header bar-light item-input-inset J-bar-light">
    <button class="button  J-blogo"></button>
    <label class="item-input-wrapper J-topSearch">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear J-denglu">登录</button>
  </div>
  <!--头部 结束-->

  <!--
  class: padding:代表元素内部会自动添加10px的内边距
  -->
  <!--<ion-content class="has-header">-->
  <ion-content class="">

    <!--滑动框 开始-->
    <ion-slide-box class="has-badge  J-ion-slide-box" on-slide-changed="slideHasChanged()" does-continue="true" auto-play="true">
      <ion-slide>
        <div class="box blue">
          <a href="#"><img src="../../img/banner1.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <a href="#"><img src="../../img/banner2.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <a href="#"><img src="../../img/banner3.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <a href="#"><img src="../../img/banner4.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <a href="#"><img src="../../img/banner5.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <a href="#"><img src="../../img/banner6.jpg" alt=""></a>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <a href="#"><img src="../../img/banner7.jpg" alt=""></a>
        </div>
      </ion-slide>
    </ion-slide-box>
    <!--滑动框 结束-->


    <!--nav导航列表 开始-->
    <div class="J-nav padding">
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav1.png" alt="">
          <p>京东超市</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav2.png" alt="">
          <p>全球购</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav3.png" alt="">
          <p>服装城</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav4.png" alt="">
          <p>京东生鲜</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav5.png" alt="">
          <p>京东到家</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav6.png" alt="">
          <p>充值中心</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav7.png" alt="">
          <p>惠赚钱</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav8.png" alt="">
          <p>领券</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav9.png" alt="">
          <p>物流查询</p>
        </a>
      </div>
      <div class="col col-20">
        <a href="#">
          <img src="../../img/nav10.png" alt="">
          <p>我的关注</p>
        </a>
      </div>
    </div>
    <!--nav导航列表 结束-->


    <!--京东快报 开始-->
    <div class="row J-row">
      <div class="col col-80 ">
        <a href="#" class="col col-33 J-left"><img src="../../img/jd-news-tit.png" alt=""></a>
        <div class="col col-67 J-left J-nopadding">
          <ul class="list J-list">
            <li class="item"><span class="J-list-span">大促</span>平板电脑鞋平板电脑鞋包好好平板电脑鞋包好好包好好</li>
            <li class="item"><span class="J-list-span">爆</span>平板电脑鞋包好好平板电脑鞋包好好</li>
            <li class="item">平板电脑鞋包好好</li>
            <li class="item">平板电脑鞋包好好</li>
          </ul>
        </div>
      </div>
      <div class="col col-20">
        <p class="J-more">更多</p>
      </div>
    </div>
    <!--京东快报 结束-->





    <!--为您推荐 开始-->
    <div class="row">
      <hr>
    </div>

    <div class="list J-homeList">
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="/#/goods/0">
          <img src="../../img/tj1.jpg">
          <h2>0-3岁早教书籍婴幼儿童早教书翻翻书卡片书套装撕不烂小孩宝宝认知彩色亲子启蒙益智玩具 全套24本</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="#">
          <img src="../../img/tj2.jpg">
          <h2>康福烙饼 台湾风味手抓饼早餐饼家常饼 盒装 包邮送冰袋（限辽宁省发货） 原味120g/张x25张</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="#">
          <img src="../../img/tj3.jpg">
          <h2>e洁 明星款自动收口垃圾袋加厚手提式 45cm*50cm*18只*10卷</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="#">
          <img src="../../img/tj4.jpg">
          <h2>七范童装男童套装冬装儿童套装三件套2016冬季新款卫衣套装运动休闲加绒加厚 藏青三件套款 150/建议身高140-150cm</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="#">
          <img src="../../img/tj5.jpg">
          <h2>九洲鹿家纺 卡通抱枕沙发靠垫办公室靠枕床头靠背汽车护腰靠垫腰枕垫 含芯 彩虹斑马 45x45cm</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
      <div class="col col-50">
        <a class="item item-thumbnail-left J-item-thumbnail-left" href="#">
          <img src="../../img/tj6.jpg">
          <h2>神舟(HASEE) 战神Z7-SP7S2 15.6英寸游戏本笔记本电脑(i7-6700HQ 8G 1T+128G SSD GTX1060 6G独显 1080P)黑色</h2>
          <p>&yen;1020<span>看相似</span></p>
        </a>
      </div>
    </div>
    <!--为您推荐 结束-->


    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
    我的页面<br>
  </ion-content>

  <p>hhh</p>
</ion-view>
